<template>
  <div>
    <Title title="Favoritos" v-if="!reduced" />
    <SkeletonGrid :loading="loading" :size="reduced ? 6 : 15">
      <GiphyGrid :gifs="gifs">
        <template slot="notFound">
          <Card text="Sin favoritos... Aún" icon="heart-broken-outline" />
        </template>
      </GiphyGrid>
      <Pagination
        v-if="!reduced"
        :page="page + 1"
        :pages="pages"
        @next="onNext"
        @prev="onPrev" />
    </SkeletonGrid>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import GiphyGrid from '@/components/GiphyGrid.vue'
import giphy from '@/utils/giphy.js'
import Title from '@/components/Title.vue'
import Pagination from '@/components/Pagination.vue'
import Card from '@/components/Card.vue'
import SkeletonGrid from '@/components/SkeletonGrid.vue'

export default {
  name: 'FavoritesView',
  components: {
    GiphyGrid,
    Title,
    Pagination,
    Card,
    SkeletonGrid,
  },
  props: {
    reduced: {
      type: Boolean,
      default: false,
    },
  },
  created() {
    this.preserveFavsList()
    this.getGifs()
  },
  data() {
    return {
      gifs: [],
      page: 0,
      originalFavs: [],
      loading: false,
    }
  },
  methods: {
    preserveFavsList() {
      this.originalFavs = JSON.parse(JSON.stringify(this.favs))
    },
    onNext() {
      this.page++
      this.getGifs()
    },
    onPrev() {
      this.page--
      this.getGifs()
    },
    getGifs() {
      this.loading = true
      giphy.gifs(this.nextPageFavs).then((res) => {
        this.gifs = res.data.data
        this.loading = false
      })
    },
  },
  computed: {
    ...mapGetters('FavsStore', ['favs']),
    favsCount() {
      return this.originalFavs.length
    },
    reversedFavs() {
      return this.originalFavs.slice().reverse()
    },
    itemsPerPage() {
      const itemsPerPage = this.reduced ? 5 : 15
      return itemsPerPage
    },
    pages() {
      const itemsPerPage = this.itemsPerPage
      return Math.ceil(this.favsCount / itemsPerPage)
    },
    nextPageFavs() {
      const itemsPerPage = this.itemsPerPage
      return this.reversedFavs.slice(
        this.page * itemsPerPage,
        (this.page + 1) * itemsPerPage,
      )
    },
    showLoadMore() {
      return this.page < this.pages && !this.reduced
    },
  },
}
</script>
