<template>
  <div>
    <template>
      <Title title="Busquedas recientes" />
      <SearchHistory mode="list" class="mb-4" />
    </template>
    <template>
      <Title title="Últimos favoritos" />
      <Favorites reduced />
    </template>
    <template>
      <Title title="Trending" />
      <SkeletonGrid :loading="loadingTrending">
        <GiphyGrid :gifs="trending" />
      </SkeletonGrid>
    </template>
  </div>
</template>

<script>
import GiphyGrid from '@/components/GiphyGrid.vue'
import giphy from '@/utils/giphy.js'
import Title from '@/components/Title.vue'
import SearchHistory from '@/components/SearchHistory.vue'
import Favorites from '@/views/FavoritesView.vue'
import SkeletonGrid from '@/components/SkeletonGrid.vue'

export default {
  name: 'HomeView',
  components: {
    GiphyGrid,
    Title,
    SearchHistory,
    Favorites,
    SkeletonGrid,
  },
  data() {
    return {
      trending: [],
      loadingTrending: true,
    }
  },
  async mounted() {
    this.loadingTrending = true
    this.trending = await giphy
      .trending({ limit: 10 })
      .then((res) => res.data.data)
    this.loadingTrending = false
  },
}
</script>
