<template>
  <div>
    <Title :title="`Resultados para '${query}'.`" />
    <SkeletonGrid :loading="loading">
      <GiphyGrid :gifs="gifs" />

      <Pagination
        :page="page + 1"
        :pages="pages"
        @next="onNext"
        @prev="onPrev" />
    </SkeletonGrid>
  </div>
</template>

<script>
import giphy from '@/utils/giphy.js'
import GiphyGrid from '@/components/GiphyGrid.vue'
import Title from '@/components/Title.vue'
import Pagination from '@/components/Pagination.vue'
import SkeletonGrid from '@/components/SkeletonGrid.vue'

export default {
  name: 'SeachView',
  components: {
    GiphyGrid,
    Title,
    Pagination,
    SkeletonGrid,
  },

  data() {
    return {
      query: '',
      gifs: [],
      totalItems: 0,
      page: 0,
      loading: false,
    }
  },
  mounted() {
    this.query = this.$route.params.query
    this.getInformation()
  },
  methods: {
    onNext() {
      this.page++
      this.getInformation()
    },
    onPrev() {
      this.page--
      this.getInformation()
    },
    async getInformation() {
      this.loading = true
      giphy
        .search(this.query, { offset: this.page * 15, limit: 15 })
        .then((res) => {
          this.gifs = res.data.data
          this.totalItems = res.data.pagination.total_count
          this.loading = false
        })
    },
  },
  computed: {
    pages() {
      return Math.ceil(this.totalItems / 15)
    },
  },
  watch: {
    '$route.params.query'(query) {
      this.query = query
      this.getInformation()
    },
  },
}
</script>
