<template>
  <button class="px-2" :class="computedClass" v-on="$listeners">
    <slot />
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    isRounded: {
      type: Boolean,
      default: false,
    },
    bgColor: {
      type: String,
      default: 'bg-blue-500',
    },
    small: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    computedClass() {
      return {
        'rounded-full': this.isRounded,
        [this.bgColor]: true,
        'h-8': this.small,
        'h-20': !this.small && !this.isRounded,
        'w-auto': !this.isRounded,
        'rounded-md': !this.isRounded,
        'aspect-square': this.isRounded,
      }
    },
  },
}
</script>
