<template>
  <div>
    <div class="w-full h-full top-0 left-0 flex items-center justify-center">
      <div class="text-center text-gray-500">
        <Icon :name="icon" class="mdi-24px" />
        <div class="text-gray-500 text-sm"> {{ text }} </div>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from './Icon.vue'

export default {
  name: 'Card',
  components: {
    Icon,
  },
  props: {
    text: {
      type: String,
      default: 'Sin datos',
    },
    icon: {
      type: String,
      default: 'info',
    },
  },
}
</script>
