<template>
  <div class="fixed bottom-3 right-3 leading-none">
    <router-link :to="{ name: 'favorites' }">
      <Button isRounded :bg-color="'bg-red-600'" class="w-12 hover:bg-red-700">
        <Icon name="heart-outline" />
        {{ beautyCounter }}
      </Button>
    </router-link>
  </div>
</template>

<script>
import Button from './Button.vue'
import Icon from './Icon.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'FavsButton',
  components: {
    Button,
    Icon,
  },
  computed: {
    ...mapGetters('FavsStore', ['favsCount']),
    beautyCounter() {
      return this.favsCount > 99 ? '99+' : `${this.favsCount}`
    },
  },
}
</script>
