<template>
  <div>
    <div class="w-full relative mb-4 box-content h-auto hover:cursor-pointer">
      <div>
        <img
          v-show="!isLoading"
          @dblclick="onLike"
          @load="onLoad"
          class="w-full"
          :class="{ 'border-red-500': isFavGif }"
          :src="gif.images['preview_webp'].url" />
        <div
          v-show="isLoading"
          class="w-full h-52 border items-center justify-center animate-pulse bg-slate-600">
        </div>
        <div class="absolute right-2 top-2">
          <Icon
            v-show="!isLoading"
            @click="onLike"
            class="text-3xl text-red-500"
            :name="isFavGif ? 'heart' : 'heart-outline'" />
        </div>
      </div>

      <div
        v-show="toggled"
        class="fade absolute top-0 left-0 w-full h-full z-10 bg-[rgba(50,50,50,0.5)]">
        <div
          class="flex absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 align-middle place-content-center">
          <Icon
            class="text-red-500 text-5xl mx-auto animate-ping"
            :name="iconFavorite" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Icon from './Icon.vue'
export default {
  name: 'Gif',
  components: {
    Icon,
  },
  props: {
    gif: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      toggled: false,
      isLoading: true,
    }
  },

  methods: {
    ...mapActions('FavsStore', ['toggleFav']),
    onLoad() {
      this.isLoading = false
    },
    onLike() {
      this.toggled = true

      setTimeout(() => {
        this.toggled = false
        this.toggleFav(this.gif.id)
      }, 500)
    },
  },
  computed: {
    ...mapGetters('FavsStore', ['isFav']),
    iconFavorite() {
      return this.isFavGif ? 'heart-outline' : 'heart'
    },

    isFavGif() {
      return this.isFav(this.gif.id)
    },
  },
}
</script>
