<template>
  <div v-if="gifs.length > 0">
    <div class="columns-1 md:columns-2 lg:columns-3 xl:columns-4 2xl:columns-5">
      <template v-for="gif in gifs">
        <Gif :gif="gif" :key="gif.id" />
      </template>
    </div>
  </div>
  <div v-else>
    <slot name="notFound">
      <Card text="Sin resultados" icon="file-gif-box" />
    </slot>
  </div>
</template>

<script>
import Gif from './Gif.vue'
import Card from './Card.vue'

export default {
  name: 'GiphyGrid',
  components: {
    Gif,
    Card,
  },
  props: {
    gifs: {
      type: Array,
      default: () => [],
    },
  },
}
</script>
