<template>
  <i class="mdi" :class="`mdi-${name}`" @click="onClick" />
</template>

<script>
export default {
  name: 'Icon',
  props: {
    name: {
      type: String,
      required: true,
    },
  },
  methods: {
    onClick() {
      this.$emit('click')
    },
  },
}
</script>
