<template>
  <div class="navbar">
    <div class="flex place-content-center">
      <div class="md:w-36 w-36 mr-4 mb-4">
        <router-link :to="{ name: 'home' }"> <GiphyLogo /> </router-link>
      </div>
    </div>

    <div class="w-full">
      <div class="w-full mr-0 mb-4">
        <SearchBar placeholder="doge y cheems" />
      </div>
    </div>
  </div>
</template>

<script>
import GiphyLogo from './GiphyLogo.vue'
import SearchBar from './SearchBar.vue'
export default {
  name: 'Navbar',
  components: {
    GiphyLogo,
    SearchBar,
  },
}
</script>
