<template>
  <div>
    <div v-if="pages > 1" class="mt-5 w-full flex place-content-center gap-2">
      <Button v-if="page > 1" @click="onPrev" small bg-color="bg-gray-200">
        <Icon name="chevron-left" /> Anterior
      </Button>
      <Button v-if="page < pages" @click="onNext" small bg-color="bg-gray-200">
        Siguiente <Icon name="chevron-right" />
      </Button>
    </div>
  </div>
</template>

<script>
import Button from './Button.vue'
import Icon from './Icon.vue'
export default {
  name: 'Pagination',
  components: {
    Button,
    Icon,
  },
  props: {
    page: {
      type: Number,
      required: true,
    },
    pages: {
      type: Number,
      required: true,
    },
  },
  methods: {
    onPrev() {
      this.$emit('prev')
      this.scrollToTop()
    },
    onNext() {
      this.scrollToTop()
      this.$emit('next')
    },
    scrollToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' })
    },
  },
}
</script>
