<template>
  <div class="search w-full container">
    <div class="flex relative w-full">
      <div class="w-full">
        <input
          v-model="search"
          @keypress.enter="onSearch"
          @focus="onFocus"
          @blur="onBlur"
          :placeholder="placeholder"
          class="h-full w-full px-2 py-2 bg-white border-l border-t border-b border-slate-300 text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-inherit focus:ring-0 focus:ring-sky-500" />
      </div>
      <div>
        <Button
          class="w-10 aspect-square px-0 h-10 rounded-none"
          bg-color="bg-gray-400"
          @click="onSearch">
          <Icon name="magnify" class="mdi-24px" />
        </Button>
      </div>
    </div>
    <SearchHistory v-if="showHistory" :search="search" />
  </div>
</template>

<script>
import Button from './Button.vue'
import SearchHistory from './SearchHistory.vue'
import Icon from './Icon.vue'
import { mapActions } from 'vuex'

export default {
  name: 'Search',
  components: {
    Button,
    SearchHistory,
    Icon,
  },
  props: {
    placeholder: {
      type: String,
    },
  },
  data() {
    return {
      search: '',
      showHistory: false,
    }
  },
  methods: {
    ...mapActions('HistoryStore', ['refreshHistory', 'addPreviousSearch']),
    onSearch(e) {
      this.showHistory = false
      e.target.blur()
      this.addPreviousSearch(this.search)
      this.$router
        .push({
          name: 'search',
          params: {
            query: this.search,
          },
        })
        .catch(() => {})
      this.search = null
    },
    onFocus() {
      this.showHistory = true
    },
    onBlur() {
      setTimeout(() => {
        this.showHistory = false
      }, 400)
    },
  },
}
</script>
