<template>
  <div
    v-if="historyTop10.length > 0"
    class="float-none block container bg-white"
    :class="mode === 'list' ? 'static ' : 'absolute pr-8 z-10'">
    <div class="border-2" :class="{ 'border-t-0': mode !== 'list' }">
      <template v-for="(searchTerm, index) in historyTop10">
        <router-link
          :key="index"
          :to="{
            name: 'search',
            params: {
              query: searchTerm,
            },
          }">
          <div class="px-2 py-2 hover:bg-cyan-200 cursor-pointer">
            <div class="block"> {{ searchTerm }}</div>
          </div>
        </router-link>
      </template>
    </div>
  </div>
  <div v-else-if="mode === 'list'">
    <Card icon="history" text="Aún sin historial" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Card from './Card.vue'

export default {
  name: 'SearchHistory',
  components: {
    Card,
  },
  props: {
    search: {
      type: String,
    },
    mode: {
      type: String,
      default: '',
    },
  },

  computed: {
    ...mapGetters('HistoryStore', ['history']),
    historyTop10() {
      return this.history
        .filter((term) => {
          return this.search
            ? term.toLowerCase().includes(this.search.toLowerCase())
            : true
        })
        .reverse()
        .slice(0, 10)
    },
  },
}
</script>
