<template>
  <div>
    <div
      v-if="loading"
      class="columns-1 md:columns-2 lg:columns-3 xl:columns-4 2xl:columns-5">
      <template v-for="index in size">
        <div
          :key="index"
          class="w-full h-52 mb-4 border items-center justify-center animate-pulse bg-slate-600">
        </div>
      </template>
    </div>
    <div v-else> <slot /> </div>
  </div>
</template>

<script>
export default {
  name: 'SkeletonGrid',
  props: {
    size: {
      type: Number,
      default: 15,
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
