<template>
  <div class="font-semibold text-2xl mb-4"> {{ title }} </div>
</template>

<script>
export default {
  name: 'Title',
  props: {
    title: {
      type: String,
      default: '',
    },
  },
}
</script>
