<template>
  <div id="giphy" class="giphy">
    <div class="mb-8 mt-2">
      <div class="container mx-auto px-4">
        <Navbar />
      </div>
    </div>

    <div class="pb-8">
      <div class="container mx-auto px-4 clear-both">
        <router-view />
      </div>
    </div>
    <FavsButton />
  </div>
</template>

<script>
import Navbar from './components/Navbar.vue'
import FavsButton from './components/FavsButton.vue'
import { mapActions } from 'vuex'

export default {
  name: 'App',
  components: {
    Navbar,
    FavsButton,
  },
  mounted() {
    this.refreshFavs()
    this.refreshHistory()
  },
  methods: {
    ...mapActions('FavsStore', ['refreshFavs']),
    ...mapActions('HistoryStore', ['refreshHistory']),
  },
}
</script>
